<header>
  <span>inLEAGUE</span>
  <div class="Right">
      <ul>
        <li>HOME </li>
        <li>FEATURES </li>
        <li>PAGES </li>
        <li>BLOG </li>
        <li>PORTFOLIO </li>
        <li>CONTACT </li>
      </ul>
  </div>
  </header>
  <body>
    <img class="fish" src="./../assets/Capture.PNG">
    <div class="middle-content">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <button>GET STARTED</button>
    </div>
    <div class="Footer">
    <div class="WEB_DESIGN">
      <div class="design">
        <img class="web" src="./../assets/webdesign.png" >
        <h2>WEB DESIGN</h2>
    </div>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="">Learn More--></a>
    </div>
    <div class="GRAPHIC_DESIGN">
      <div class="design1">
          <img class="graphic" src="./../assets/graphicdesign.png">
        <h2>GRAPHIC DESIGN</h2>
      </div>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="">Learn More--></a>
    </div>
    <div class="STRATEGY">
      <div class="design2">
        <img class="strategy" src="./../assets/strategy.png">
        <h2>STRATEGY</h2>
      </div>
      <p>
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      </p>
      <a href="">Learn More--></a>
    </div>
  </div>
  </body>
